<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title><%= title %></title>
        <%- include("partials/common_head") %>
        <link rel="stylesheet" type="" href="/admin.css">
    </head>
    <body>
        <header>
            <div class="brand">
                <a href="/">Chitthi</a>
            </div>
            <nav>
                <ul class="nav_links">
                    <li>
                        <a href="/">Back to Home</a>
                    </li>
                </ul>
            </nav>
        </header>

        <main>
            <div class="container">
                <div class="admin-form-container">
                    <%- include("partials/errors"); %>
                    <form class="admin-password-form" method="post" action="/admin">
                        <div class="input-container admin-password">
                            <label for="admin-password">Admin Password</label>
                            <input type="password" name="admin_password" id="admin_password" required />
                        </div>
                        <div class="button-container"><button type="submit">Submit</button></div>
                    </form>
                </div>
            </div>
        </main>
    </body>
</html>
