
<html>
    <%- include("partials/head", {title: title}); %>
    <body>
        <%- include("partials/errors"); %>
        <% if (authenticated) { %>
        <form method="post" action="/log-out">
            <button type="submit">Log out</button>
        </form>
        <% } %>
    </body>
</html>
