<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title><%= title %></title>
        <%- include("partials/common_head") %>
        <link rel="stylesheet" href="/signup.css">
    </head>
    <body>
        <header>
            <div class="brand">
                <a href="/">Chitthi</a>
            </div>
            <nav>
                <ul class="nav_links">
                    <li>
                        <a href="/">Back to Home</a>
                    </li>
                </ul>
            </nav>
        </header>

        <main>
            <div class="container">
                <div class="signup-form-container">
                    <%- include("partials/errors"); %>
                    <div class="brand">
                        Chitthi
                    </div>
                    <form class="sign-up-form" method="post" action="/sign-up">
                        <div class="input-container first_name_container">
                            <label for="first_name">First name </label>
                            <input type="text" name="first_name" placeholder="John" />
                        </div>
                        <div class="input-container last_name_container">
                            <label for="last_name">Last Name </label>
                            <input type="text" name="last_name" placeholder="Doe" />
                        </div>
                        <div class="input-container username_container">
                            <label for="username">Username </label>
                            <input type="text" name="username" placeholder="jd57" required />
                        </div>
                        <div class="input-container password_container">
                            <label for="password">Password </label>
                            <input type="password" name="password" required placeholder="Enter password" />
                        </div>
                        <div class="input-container confirm_password_container">
                            <label for="confirm_password">Confirm Password </label>
                            <input type="password" name="confirm_password" required placeholder="Re-enter password" />
                        </div>
                        <div class="button-container">
                            <button type="submit">Sign Up</button>
                        </div>
                    </form>
                </div>
            </div>
        </main>
    </body>
</html>
