<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title><%= title %></title>
        <%- include("partials/common_head") %>
    </head>
    <body>
    <header>
            <div class="brand">
                <a href="/">Chitthi</a>
            </div>
            <nav>
                <ul class="nav_links">
                    <li>
                        <a href="/">Back to Home</a>
                    </li>
                </ul>
            </nav>
        </header>

        <main>
            <%- include("partials/errors"); %>
            <form class="special-club-form" method="post" action="/special-club">
                <div class="special-club-secret-password">
                    <label for="secret_password">Secret Password</label>
                    <input type="password" name="secret_password" id="secret_password" required />
                </div>
                <div hidden> theonepieceisreal </div>
                <button type="submit">Join the club</button>
            </form>
        </main>
    </body>
</html>
