<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title><%= title %></title>
        <%- include("partials/common_head") %>
        <link rel="stylesheet" href="/special_club.css">
    </head>
    <body>
        <header>
            <div class="brand">
                <a href="/">Chitthi</a>
            </div>
            <nav>
                <ul class="nav_links">
                    <li>
                        <a href="/">Back to Home</a>
                    </li>
                </ul>
            </nav>
        </header>

        <main>
            <div class="container">
                <div class="special-club-form-container">
                    <%- include("partials/errors"); %>
                    <form class="special-club-form" method="post" action="/special-club">
                        <div class="input-container special-club-secret-password">
                            <label for="secret_password">Secret Password</label>
                            <input type="password" name="secret_password" id="secret_password" required />
                        </div>
                        <div hidden> <%= specialPassword %> </div>
                        <div class="button-container"><button type="submit">Join the club</button></div>
                    </form>
                </div>
            </div>
        </main>
    </body>
</html>
