.container {
  display: grid;
  place-content: center;
}

.admin-form-container {
  background-color: var(--card-bg);
  display: grid;
  place-items: center;
  padding: 20px;
  border-radius: 20px;
  gap: 10px;
}

.admin-password-form {
  display: grid;
  gap: 10px;
}

.input-container,
.button-container {
  display: grid;
  place-items: center;
  gap: 5px;
}

.input-container label {
  font-size: 0.9rem;
}

input {
  padding: 2px 8px;
  text-align: center;
}
