* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --std-padding: 20px;

  /* colors */
  --text: #fff8e5;
  --bg: #00a19d;
  --primary: #ffb344;
  --secondary: hsl(179, 100%, 26%);
  --accent: #e05d5d;

  /* derived colors */
  --card-bg: hsl(from var(--primary) h s 63);

  /* for inputs */
  --positive-feedback: #acc572;
  --negative-feedback: var(--accent);
}

/* all page styling */
ul {
  list-style-type: none;
}

body {
  background-color: var(--bg);
  font-family: "Bricolage Grotesque", sans-serif;
  display: flex;
  padding: var(--std-padding);
  flex-direction: column;
  gap: 15px;
}

/* header styling */
header {
  display: flex;
}

.seperator {
  content: "";
  height: 3px;
  background-color: var(--accent);
  padding: 0 var(--std-padding);
}

.brand {
  font-family: "Metamorphous", serif;
  font-size: 1.2rem;
}

nav {
  flex: 1;
  display: flex;
  justify-content: end;
}

nav ul.nav_links {
  display: flex;
  gap: 20px;
}

/* responsiveness for header */
@media (max-width: 500px) {
  header {
    flex-direction: column;
    align-items: start;
  }

  .brand {
    font-size: 2.5rem;
  }

  nav ul.nav_links {
    padding: 0 5px;
    justify-content: space-between;
    flex: 1;
  }
}

/* main styling */
main {
  flex: 1;
}

/* individual elements styling */
a {
  text-decoration: none;
  color: var(--text);
}

button {
  padding: 2px 8px;
}

input {
  border: 2px solid var(--positive-feedback);
  border-radius: 8px;
}

input:invalid {
  border: 2px solid var(--negative-feedback);
}

.button-container button,
.create-message-container a {
  background: var(--text);
  border: 2px solid var(--text);
  border-radius: 8px;
  transition: transform 0.2s;
  padding: 2px 8px;
  color: #222;
}

/* for transform to work for a, which is inline by default */
.create-message-container a {
  display: inline-block;
  cursor: default;
}

.button-container button:hover,
.create-message-container a:hover {
  transform: scale(1.1);
}

.button-container button:active,
.create-message-container a:active {
  transform: scale(0.9);
}

/* for rest of the a's */
a:active {
  color: var(--accent);
}
