.container {
  display: grid;
}

.create-message-form-container {
  background-color: var(--card-bg);
  display: grid;
  padding: 20px;
  border-radius: 20px;
  gap: 10px;
}

.create-message-form {
  display: grid;
  gap: 8px;
}

.input-container,
.button-container {
  display: grid;
  gap: 5px;
}

.button-container {
  place-items: start;
}

.input-container label {
  padding: 2px;
  font-weight: 600;
}

input {
  border: 2px solid var(--positive-feedback);
  border-radius: 10px;
  padding: 10px 20px;
}
