/* main styling */
.create-message-container {
  padding: 8px;
}

.messages {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.message-container {
  display: flex;
  gap: 8px;
  background: var(--secondary);
  padding: var(--std-padding);
  border-radius: 20px;
  cursor: default;
}

.message {
  flex: 1;
  color: var(--text);
}

.message-data {
  display: grid;
  justify-items: end;
  align-content: start;
  gap: 10px;
}

.message-username {
  color: hsl(from var(--primary) h s 60);
  font-weight: bold;
}
