/* main styling */
.create-message-container {
  padding: 8px;
}

.messages {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.message-container {
  display: flex;
  gap: 8px;
  background: var(--card-bg);
  padding: var(--std-padding);
  border-radius: 20px;
}

.message {
  flex: 1;
}

.message-data {
  display: grid;
  justify-items: end;
  align-content: start;
  gap: 10px;
}
